{% extends "layout.html" %}
{% block content %}
    <form action="/movies/new" method="POST">
        <div class="row">
            <div class="col">
                <label for="fldTitle">Title</label>
                <input id="fldTitle" type="text" class="form-control" placeholder="Title" name="fldTitle">
            </div>
            <div class="col">
                <label for="fldYear">Year</label>
                <input id="fldYear" type="text" class="form-control" placeholder="Year" name="fldYear">
            </div>
            <div class="col">
                <label for="fldScore">Score</label>
                <input id="fldScore" type="text" class="form-control" placeholder="Score" name="fldScore">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>

{% endblock %}