{% extends "layout.html" %}
{% block content %}

    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title text-center">{{ movie.Title }}</h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year: {{ movie.Year }}</li>
                <li class="list-group-item">Score {{ movie.Score }}</li>
            </ul>
            <div class="card-footer text-center">
                <a href="/edit/{{ movie.id }}" class="card-link btn btn-primary">Edit</a>
            </div>
        </div>
        <form action="/delete/{{ movie.id }}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

{% endblock %}